{% extends 'fiteat/base.html'%}
{% load static %}


{% block nav%}
  <div class="login">
    {% if user.is_authenticated %}
      Zalogowany użytkownik: <b>{{user.username}}</b>|<a href= "{% url 'logout_then_login' %}">Wyloguj</a>    
    {% else %}
      <a href="{% url 'login' %}">Zaloguj</a>|<a href="{% url 'register' %}">Rejestracja</a>
    {% endif %}
  </div>
  <ul class="nav_menu">
    <li><a href="{% url 'first_page' %}">EAT FIT</a></li>
    <li><a href="{% url 'product' %}">PRODUKTY</a></li>
     <li>
      {% if user.is_authenticated %}
         <a href="{% url 'dairy' %}">DZIENNIK</a>
      {% else %}
         <a href="{% url 'login' %}">DZIENNIK</a>
      {% endif %}
    </li>
    <li><a href="{% url 'tips' %}">PORADY</a></li>
    <li><a href="{% url 'contact' %}">KONTAKT</a></li>
  </ul>
{% endblock %}

{% block container %}
<div class="container_block">
  <section class="calcal">

    <div class="breakfast">
      Sniadanie
      <div class ="b_product">
        jajko
      </div>
    </div>
     
  </section>
  <section class="calpro">
    <div class="search_product">
      <p style="background:#CCCCCC"> Tabela kalorii, wartości odżywczych</p>
     
    </div>
    <div class = "table_product">
    </div>
  </section>
</div>
{% endblock %}

{% block js %}
<script src={% static "java_script/jquery-3.2.1.min.js" %}></script>
<script type="text/javascript" src={% static "java_script/script.js" %}></script>
<script type="text/javascript" src={% static "java_script/scriptadv.js" %}></script>
{% endblock %}	
