{% extends 'fiteat/base.html'%}
{% load static %}
{% load calculate_per_gram %}
{% block container %}


<div class="container_block">
  <section class="calcal">

    <div class="breakfast">
      Sniadanie
      <div class ="b_product">
        jajko
      </div>
    </div>
     
  </section>
  <section class="calpro">
    <div class="search_product">
      <p style="background:#CCCCCC"> Tabela kalorii, wartości odżywczych</p>
        
    <div class= "category_table">
      <table>
        {% for entry in diary_entries %}
        <tr>
          <td>{{entry.weight}}</td>
          <td>{{entry.product.name}}</td>
          <td>{{entry.publish_date}}</td>
          <td>dup-{{ entry.product.protein}} </td>
          
          <td>{% calculate_per_gram entry.weight entry.product.protein %}</td>
          <td>{% calculate_per_gram entry.weight entry.product.carbon %}</td>
          <td>{% calculate_per_gram entry.weight entry.product.fats %}</td>
          <td>{% calculate_per_gram entry.weight entry.product.calories %}</td>
          <td> <a href = "{% url 'remove_diary_entry'  id=entry.id%}"><input type = "buttom" value = "usuń"></a></td>
        </tr> 
        {%endfor%} 
      </table>
    </div>
        
    
          
        
      </table>

     
    </div>
    <div class = "table_product">
    </div>
  </section>
</div>
{% endblock %}

{% block js %}
<script src={% static "java_script/jquery-3.2.1.min.js" %}></script>
<script type="text/javascript" src={% static "java_script/script.js" %}></script>
<script type="text/javascript" src={% static "java_script/scriptadv.js" %}></script>
{% endblock %}	
